@font-face {
   font-family: "ChelaOne";
   src: url("fonts/ChelaOne.ttf");
}

@font-face {
   font-family: "Anonymous";
   src: url("fonts/AnonymousPro-Regular.ttf");
}

@font-face {
   font-family: "Anonymous-Bold";
   src: url("fonts/AnonymousPro-Bold.ttf");
}

@font-face {
   font-family: "BebasNeue";
   src: url("fonts/BebasNeue-Regular.ttf");
}

@font-face {
   font-family: "Athiti";
   src: url("fonts/Athiti-Regular.ttf");
}

@font-face {
   font-family: "AsapCondensed";
   src: url("fonts/Asap_Condensed-Regular.ttf");
}

html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   min-height: 100%;
   background: rgb(248, 248, 248);
   font-size: 12pt;
}

p {
   font-family: Anonymous;
}

nav.container {
   width: 85vw;
}

nav>a {
   width: 20%;
}

#nav {
   grid-area: nav;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

#logo {
   max-width: 120px;
}

#logo:hover {
   cursor: help;
}

#opcoes {
   margin: 0;
   padding: 0;
   display: flex;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   transform: translate(-50%, -50%);
}

#opcoes a {
   font-family: ChelaOne;
   font-size: 1.9rem;
   color: #F7B111;
   -webkit-text-stroke-width: 0.05rem;
   -webkit-text-stroke-color: #000000d7;
   font-weight: 100;
   text-shadow: 0.03rem 0.1rem 0.06rem rgba(0, 0, 0, 0.3);
}

#opcoes div:hover {
   cursor: pointer;
}

#opcoes div:nth-child(1),
#opcoes div:nth-child(2),
#opcoes div:nth-child(3) {
   margin-right: 1rem;
}

#navRedes {
   display: flex;
}

#navRedes a {
   padding: 0;
   margin: 0;
}

#navRedes img:hover {
   cursor: pointer;
   background-color: rgb(250, 200, 85);
}


#navRedes i {
   font-size: 35px;
}

#navRedes i:hover {
   color: #F7B111;
}



/* ////////////////////////////////////////// */
#main {
   grid-area: main;
   justify-self: center;
   /* background: rgb(209, 97, 97); */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 85vw;
}

#resenhaECoisaSeria {
   font-family: ChelaOne;
   font-size: 2.8rem;
   font-weight: 400;
   text-decoration: underline;
   cursor: pointer;
   margin-top: 2.5rem;
   margin-bottom: .5rem;
   color: #000;

}

#subTitulo {
   font-family: Anonymous;
   font-size: 1.6rem;
   font-weight: 400;
   text-align: center;
   margin-bottom: 2rem;
}

#galeria {
   /* quadrado: 384x365 // retangulo: 325x734 */
   display: grid;
   gap: .5rem;
   grid-template-columns: repeat(4, 1fr); 
}

.galeria .fotoGaleria {
   max-width: inherit;
   height: inherit;
   object-fit: cover;
   /* transition: transform 400ms ease-out; */
}

.galeria div {
   position: relative;
   transition: transform 400ms ease-out;
   max-width: 100%;
   height: 100%;
}

.galeria .legendaGaleria {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   font-size: 1.2rem;
   box-sizing: border-box;
   background-color: rgb(247, 177, 17, .85);
   font-family: Anonymous;
   opacity: 0;
   transition: opacity 400ms;
}

.galeria div:hover .legendaGaleria {
   cursor: pointer;
   opacity: 1;
}

.galeria .legendaGaleria img {
   width: 60px;
   height: 60px;
}

/* ////////////////////////////////////////// */
#who {
   margin-top: 4.5rem;
   width: 90%;
   margin-bottom: 4.5rem;
}

#tituloWho {
   font-family: ChelaOne;
   font-size: 4.5rem;
   color: #F7B111;
   margin-bottom: .8rem;
   -webkit-text-stroke-width: 1.7px;
   -webkit-text-stroke-color: #000000d7;
   font-weight: 100;
}

.topicoWho {
   display: flex;
   position: relative;
   align-items: center;
}

.topicoWho img {
   max-width: 350px;
}

.topicoWho:nth-child(2),
.topicoWho:nth-child(3) {
   display: flex;
   align-items: center;
}

.pWho {
   font-family: Anonymous;
   font-size: 1.3rem;
   font-weight: 400;
   text-align: justify;
   display: flex;
}


#firstPWho {
   display: flex;
   flex-direction: column;
   justify-content: start;
}

#primeiroTexto {
   flex-direction: column;
   margin-bottom: 26px;
}

#primeiroTexto h2,
#primeiroTexto p {
   margin-left: calc(2.5rem + 33%);
   margin-right: 50px;
}



#primeiroTexto img {
   width: 33%;
   position: absolute;
   top: 0;
   left: -10px;
}

#segundoTexto p {
   position: absolute;
   width: 60%;
}

#segundoTexto img {
   margin-left: auto;
   margin-bottom: 1rem;
   width: 40%;
}

#terceiroTexto img {
   width: 40%;
   position: absolute;
   left: -80px;
}

#terceiroTexto p {
   width: 60%;
   margin-left: calc(2.5rem + 33%);
   margin-right: 50px;
}
/*-------------Products-------------------*/

#tituloProdutos {
   font-family: ChelaOne;
   color: #000;
   font-size: 4.5rem;
   text-align: center;
   margin-bottom: 30px;
}

#galeriaProdutos {
   position: relative;
   margin: 3rem 0 4rem 0;
   padding:  25px;
   display: flex;
   justify-content: center;
   /* Largura do carrossel */
   height: 300px;
}

.carousel-slide {
   flex: 1;
   transition: transform 0.5s;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.50);
   backdrop-filter: blur(2px);
}

.centerGaleriaProducts {
   transform: scale(1.2);
   z-index: 2;
   position: relative;
   /* Aumenta o tamanho da imagem central */
}

.carousel img {
   width: 100%;
   height: 100%;
   height: auto;
   object-fit: cover;
}
.carousel-slide:not(.centerGaleriaProducts) {
   opacity: 0.5;
   z-index: 1;
}
#navProdutos {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transform: scale(1.5);
   z-index: 3;
   background-color: transparent;
}
#navProdutos .nav-left, #navProdutos .nav-right {
   width: .8rem;
   height: .8rem;
   border-radius: 30px;
   cursor: pointer;
}
#navProdutos .nav-left {
   background-color: #fff;
}
#navProdutos .nav-right {
   background-color: #fff;
}

.nav-left:hover,
.nav-right:hover {
   transform: scale(1.4);

}

/* ////////////////////////////////////////// */
#footer {
   width: 100%;
}

#letsTalk {
   background: #797979;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

#contato {
   background: #E4E4E4;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

#tituloLetsTalk {
   flex-shrink: 0;
   color: #FFF;
   font-family: BebasNeue;
   font-size: 5.2rem;
   font-style: normal;
   font-weight: 400;
   text-align: center;
}

.corpoLetsTalk {
   font-size: 1.3rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.46px;
}

#letsTalk p {
   text-align: justify;
   font-family: Anonymous;
}

i.fa {
   font-size: 60px;
   color: #000;
   margin: 10px;
}

#letsTalk i:hover {
   color: #f7b111;
}

.footerIcones {
   display: flex;
   justify-content: center;
}

#tituloContato {
   color: #000;
   text-align: center;
   font-family: BebasNeue;
   font-size: 4.8rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

#contato p {
   text-align: center;
   font-family: Athiti;
}

.email {
   color: #000;
   font-weight: 700;
   text-align: center;
   text-decoration-line: underline;
   font-family: Anonymous;
}

.input-container {
   position: relative;
   width: 100%;
   /* Largura do campo de entrada */
   margin: 20px;
}

.input-label {
   position: absolute;
   top: -26px;
   /* Posiciona a etiqueta acima do campo de entrada */
   left: 30px;
   /* Move a etiqueta para o centro horizontal */
   padding: 0 10px;
   /* Espaçamento interno para a etiqueta */
   z-index: 4;
   color: #000;
   font-family: Anonymous;
   font-size: 20px;
   font-weight: 400;
}

.input-retangulo {
   position: absolute;
   height: 10px;
   background-color: #fff;
   top: 0px;
   /* Posiciona a etiqueta acima do campo de entrada */
   z-index: 3;
   width: 83px;
   left: 30px;
}

.input-field {
   width: 100%;
   padding: 10px;
   border-radius: 33px;
   border: 1px solid #000;
   /* Estilo da borda do campo de entrada */
}

.input-text-area {
   width: 100%;
   height: 136.013px;
   border: 1px solid #000;
   /* Estilo da borda do campo de entrada */
   border-radius: 20px;
   padding: 20px;
}

textarea::placeholder {
   color: #797979;
   font-family: Anonymous;
   font-size: 20px;
}

.submit-btn {
   font-size: 25px;
   text-align: center;
   color: #000;
   font-weight: 700;
   font-family: AsapCondensed;
   width: 50%;
   height: 56px;
   border-radius: 20px;
   border: 1px solid #000;
}

.submit-btn:hover {
   background-color: #f7b111;
}

/* Estilo para o lightbox */
.lightbox {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
}

.lightbox img {
   max-width: 80%;
   max-height: 80%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilize o cursor para indicar que a imagem é clicável */
.fotoGaleria {
   cursor: pointer;
}